<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="wrapper">
      <input
        @keydown.enter="calc()"
        v-model="result"
        type="text"
        name=""
        id=""
      />
      <div class="controls">
        <button
          class="num"
          @click="input(number)"
          v-for="number in numbers"
          :key="number"
        >
          {{number}}
        </button>
        <button
          class="op"
          @click="input(op)"
          v-for="op in operations"
          :key="op"
        >
          {{op}}
        </button>
        <button class="op" @click="reset()">R</button>
        <button class="op" @click="calc()">=</button>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
